body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    padding: 0;
    margin: 0;
  }
}
a {
  text-decoration: none;
}
button {
  background: none;
  border: none;
  &:focus {
    outline: none;
  }
}

.sw-app {
  text-align: center;
}
.header-list {
  display: flex;
  justify-content: center;
  padding: 0;
  .header-list-item {
    flex: 0 1 150px;
    text-transform: uppercase;
    padding: 2px;
    a {
      display: block;
      border: 2px solid grey;
      color: darkslategrey;
      padding: 10px 2px;
      margin: 0;
      &.active {
        background: lightcoral;
        border-color: lightcoral;
        color: white;
      }
    }
  }
}

.sw-container {
  display: flex;
  justify-content: center;
}
.sw-list {
  text-align: center;
  height: inherit;
  .sw-list-item {
    width: 200px;
    margin: 5px auto;
    cursor: pointer;
    border: none;
    background: lighten(lightslategrey, 25%);
    color: whitesmoke;
    padding: 0;
    &.selected {
      background: yellowgreen;
      color: darkslategrey;
    }
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .list-item-btn {
    background: none;
    border: none;
    width: 100%;
    color: inherit;
    padding: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
    &:focus {
      outline: none;
    }
  }
}
.list-pagination {
  display: flex;
  .list-pagination-btn {
    background: lightcoral;
    color: white;
    padding: 5px 10px;
    text-align: center;
    cursor: pointer;
    &.next {
      margin-left: auto;
    }
  }
}

.planets-container {
  width: 200px;
}
.planets-list {
  text-align: right;
  height: 310px;
  width: 200px;
}
.planet-info {
  text-align: left;
  flex: 0 1 400px;
  article {
    background: lighten(yellowgreen, 40%);
    padding: 20px 40px;
    display: inline-block;
  }
}
